---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  enableTouchEnhancements?: boolean;
  color?: 'primary' | 'default';
}

const {
  class: classList = '',
  enableTouchEnhancements = false,
  color = 'default',
  ...attrs
} = Astro.props;
---

<a
  class:list={[
    'inline-flex h-[40px] cursor-pointer items-center rounded-md px-4 font-medium duration-200',
    classList,
    {
      'text-neutral-700 hover:bg-black/10 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-white/10 dark:hover:text-neutral-200':
        color === 'default',
      'bg-blue-500 text-white hover:bg-blue-600': color === 'primary',
    },
    {
      'bg-black/10 text-neutral-800 dark:bg-white/10 dark:text-neutral-200':
        color === 'default' && enableTouchEnhancements,
    },
  ]}
  {...attrs}
>
  <slot />
</a>
