<hr
  class="max-w-content-width mx-auto mb-4 border-neutral-200 dark:border-neutral-800"
/>
<footer class="max-w-content-width mx-auto grid grid-cols-2 pb-12">
  <section class="grid content-start">
    <p class="font-bold">Important Links</p>
    <a href="/">Home</a>
  </section>
  <section class="grid content-start">
    <p class="font-bold">Social</p>
    <a
      href="https://www.linkedin.com/in/edwar-martinez-vale-605291224"
      target="_blank">LinkedIn</a
    >
    <a href="https://github.com/edwarmv" target="_blank">GitHub</a>
    <a
      href="https://bitbucket.org/edwarmv1/workspace/projects/BIN"
      target="_blank">BitBucket</a
    >
  </section>
</footer>
