---
import { Settings } from '@lucide/astro';
const menuItems = [
  { name: 'Home', href: '/' },
  { name: 'My work', href: '/my-work' },
  { name: 'Contact Me', href: '/contact-me' },
];

const { pathname } = Astro.url;
---

<header class="mx-auto flex w-[1024px] justify-between py-[40px]">
  <div class="flex gap-8">
    <a
      href="/"
      class="cursor-pointer rounded-[4px] border border-neutral-700 p-[5px] text-[18px] font-bold text-neutral-700 dark:border-neutral-400 dark:text-neutral-400"
    >
      <span class="emv">EMV</span>
    </a>

    <nav>
      <ul class="flex gap-4">
        {
          menuItems.map(({ name, href }) => (
            <li>
              <a
                href={href}
                class="relative inline-block rounded-md px-2 py-1 text-neutral-700 transition-all hover:bg-black/10 hover:text-neutral-800 aria-[current=page]:bg-black/10 aria-[current=page]:text-neutral-800 sm:px-3 sm:py-2 dark:text-neutral-400 dark:hover:bg-white/10 dark:hover:text-neutral-200 dark:aria-[current=page]:bg-white/10 dark:aria-[current=page]:text-neutral-200"
                aria-current={pathname === href ? 'page' : 'false'}
              >
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>

  <button
    class="group cursor-pointer rounded-md p-2 text-neutral-700 hover:bg-black/10 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-white/10 dark:hover:text-neutral-200"
  >
    <Settings class="duration-200 group-hover:rotate-90" />
  </button>
</header>

<style>
  .emv {
    background: radial-gradient(
      circle,
      light-dark(#c71585, #ccff00),
      light-dark(#40e0d0, #ff00ff)
    );
    background-clip: text;
    color: transparent;
    animation: gemini 5s linear infinite;
    background-size: 200% 200%;
  }

  @keyframes gemini {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
</style>
